<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>入力フォーム</title>
    </head>
    <body>
        <h1>入力フォーム</h1>
        <!--ここに追加-->
        <div message></div>
        <form action="/" method="POST">
            <div class="form_item">
                <label for="name">name</label>
                <input type="text" id="name" name="name" value="">
            </div>
            <div class="form_item">
                <label for="mail">email</label>
                <input type="text" id="mail" name="mail" value="">
            </div>
            <button type="submit" id="submit">送信</button>
        </form>
    </body>
</html>
